.carousel-item-content {
  display: block;
  height: 60vh; }
  .carousel-item-content a {
    text-decoration: none; }
  .carousel-item-content-text {
    background: black;
    background: linear-gradient(180deg, black 2%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .carousel-item-content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: auto;
    height: 90%; }

.carousel-control-prev,
.carousel-control-next {
  color: red; }

section.landing-section:not(:first-child) {
  padding: 5%; }

.cotizadorMainContent {
  padding: 5%; }

.cotizadorSimulador {
  display: flex;
  flex-wrap: wrap; }
  .cotizadorSimulador > * {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px; }
  @media screen and (min-width: 580px) {
    .cotizadorSimulador > *:nth-child(1), .cotizadorSimulador > *:nth-child(2) {
      width: calc(50% - 10px); } }

#cotizadorSimulador-form {
  display: inline;
  height: max-content; }
  #cotizadorSimulador-form > * {
    margin-top: 5%; }

#selectedModelInfo {
  padding: 5%;
  height: auto;
  text-align: center;
  border: 3px solid #0dcaf0; }
  #selectedModelInfo > img {
    width: 100%;
    height: auto; }

#historialResultados > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px; }

#historialResultados > ul > li {
  list-style-type: none;
  padding: 2%;
  width: fit-content; }

.navbar-brand {
  padding-left: 5%; }
