@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.cotizadorMainContent{
    padding:5%;
}
.cotizadorSimulador{
    display: flex;
    flex-wrap: wrap;
    & > * {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 580px){
        &>*:nth-child(1),&>*:nth-child(2){
            width: calc(50% - 10px);
        }
    }
}

#cotizadorSimulador-form{
    display: inline;
    height: max-content;
    & > * {
        margin-top: 5%;
    }
}

#selectedModelInfo{
    padding: 5%;
    height: auto;
    text-align: center;
    border: 3px solid $info;
    & > img{
        width: 100%;
        height: auto;
    }
}

#historialResultados{
    & > ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
    }
    & > ul > li{
        list-style-type: none;
        padding: 2%;
        width: fit-content;
    }
}